body {
    background-image: url('assets/sparkling-blue.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left top;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#everything-else {
    padding-left: 1vw;
    padding-right: 1vw;
}

h1 {
    color: yellow;
    font-size: 3em;
}

h2 {
    color: yellow;
    margin: 4px;
}

p {
    color: yellow;
    font-size: 1.06em;
    margin: 4px;
    margin-bottom: 0;
    background-color: black;
    width: fit-content;
}

ul {
    color: yellow;
    font-size: 1.06em;
    margin: 4px;
}

/*
a, img {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
*/


/*
h1, h2, p, ul {
    color:lightgreen;
}
*/

.li-background {
    background-color: black;
    width: fit-content;
}


.divider {
    border: 1px solid white;
    opacity: 40%;
    margin-bottom: 1vh;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5vw;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbutton {
    /* ERM IDK */
}

.top-header-img {
    width: clamp(7vw, 7vw, 14vw);
    height: clamp(7vw, 7vw, 14vw);
}

/*
Source - https://stackoverflow.com/a/16553160
Posted by Matt, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-11, License - CC BY-SA 4.0
*/
@media screen and (max-width: 768px) {
  .top-header-img {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

/*
#top-header-left {
    padding-left: 20vw;
}

#top-header-right {
    padding-right: 20vw;
}
*/

#top-header-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
}

#top-header-middle h1 {
    margin: 0;
    margin-top: 2vh;
}

#top-header-middle p {
    margin: 0;
    color: hotpink;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.horizontal-flex {
    display: flex;
    flex: 1 1 0px;
}

.left {
    flex: 1;
}
.right {
    flex: 1;
}

.tweet {
    width: 75%;
    margin-left: 0.5vw;
    margin-right:0.5vw
}