body {
    background-image: url('assets/sparkling-blue.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left top;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: 100%
}

::-webkit-scrollbar {
    display: none;
}

#everything-else {
    padding-left: 1vw;
    padding-right: 1vw;
}

h1 {
    color: yellow;
    font-size: 3em;
}

h2 {
    color: yellow;
    margin: 4px;
}

p {
    color: yellow;
    font-size: 1.06em;
    margin: 4px;
    margin-bottom: 0;
    background-color: black;
    width: fit-content;
}

ul {
    color: yellow;
    font-size: 1.06em;
    margin: 4px;
}


/*
a, img {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
*/


/*
h1, h2, p, ul {
    color:lightgreen;
}
*/

.li-background {
    background-color: black;
    width: fit-content;
}


.divider {
    opacity: 40%;
    margin: 0;
    margin-bottom: 4px;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5vw;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbutton {
    /* ERM IDK */
    size: 100%;
}

.top-header-img {
    width: clamp(7vw, 7vw, 14vw);
    height: clamp(7vw, 7vw, 14vw);
}

@media screen and (max-width: 768px) {
  .top-header-img {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

/*
#top-header-left {
    padding-left: 20vw;
}

#top-header-right {
    padding-right: 20vw;
}
*/

#top-header-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#top-header-middle h1 {
    margin: 0;
    margin-top: 2vh;
}

#top-header-middle p {
    margin: 0;
    color: hotpink;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tweet {
    width: 75%;
    margin-left: 0.5vw;
    margin-right:0.5vw
}

#index-display {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width:fit-content
}

.index-item {
    width: 80%
}

.index-link {
    color: lightblue;
}


#projects-display {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    row-gap: 12px;
    column-gap: 24px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

@media (max-width: 535px) {
  .project-display {
    width: 100%;
    flex-direction: column;
  }
}

.project-card {
    height: 28em;
    width: 340px;
    background-color: black;
    border: 1px solid white;
}

.project-card h3 {
    color: yellow;
    margin: 0;
    margin-left: 2%
    
}

.project-card p {
    color: yellow;
    margin: 0;
    margin-left: 1%
    
}

.project-card a {
    color: lightblue;
    margin: 0;
    margin-left: 2%;
    margin-top: 2%
}

.project-card img {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.project-text {
    color: yellow;
}




#donate-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




#socials-display {
    display: flex;
    justify-content: center;
}

#socials-waterfall {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70vw;
    height: auto;
    background-image: url('assets/waterfall.gif');
    background-repeat: repeat;
}

.socials-card {
    width: 320px;
    height: 75vh;
    background-color: black;
    border: 1px solid white;
}

.socials-card img {
    width: 100%;
    height: auto + 1%;
}

.socials-card h3, p {
    color: yellow;
    margin: 0;
    margin-left: 2%
}

.socials-card p {
    color: yellow;
    margin: 0;
    margin-left: 2%
}

.socials-card a {
    color: lightblue;
    margin: 0;
    margin-left: 2%;
    margin-top: 2%
}

.socials-text {
    color: yellow;
}